html,
body {
  height: 100%;
}

body {
  background: black;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

#container {
  width: 800px;
}

#canvas1 {
  width: 800px;
  height: 700px;
}

p {
  color: white;
}

#slider {
  width: 100%;
}
